db/
incremental_db/
output_files/
simulation/
greybox_tmp/
/hc_output
/.qsys_edit
*.qws
*.rpt
*.ppf
*.ddb
*.cmp
*.sip
*.spd
*.bsf
*.f
*.hdl
*.html
*.jdi
*.log
*.mif_update_rpt
*.pin
*.pof
*.rpt
*.smsg
*.sof
*.summary
*.done
*.jdi
*.rbf
*.bak